<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">
    {{ err }}
  </li>
</ul>

<div class="card bg-dark text-white">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">

    <form #clienteForm="ngForm">
      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input [disabled]="modoLectura" type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" #nombre="ngModel"> <!-- required minlength="4" -->
          <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            <div *ngIf="nombre.errors.required">
              Nombre es requerido
            </div>
            <div *ngIf="nombre.errors.minlength">
              Nombre debe tener al menos 4 caracteres
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
        <div class="col-sm-6">
          <input [disabled]="modoLectura" type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" #apellido="ngModel"> <!-- required -->
          <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
            <div *ngIf="apellido.errors.required">
              Apellido es requerido
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="edad" class="col-form-label col-sm-2">Edad</label>
        <div class="col-sm-6">
          <input [disabled]="modoLectura" type="text" class="form-control" [(ngModel)]="cliente.edad" name="edad" #edad="ngModel"> <!-- required -->
          <div class="alert alert-danger" *ngIf="edad.invalid && (edad.dirty || edad.touched)">
            <div *ngIf="edad.errors.required">
              Edad es requerido
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="fechaNacimiento" class="col-form-label col-sm-2">Fecha Nacimiento</label>
        <div class="col-sm-6">
          <input [disabled]="modoLectura" [matDatepicker]="miDatepicker" class="form-control" [(ngModel)]="cliente.fechaNacimiento" name="fechaNacimiento" style="display:inline; width:300px;">
          <mat-datepicker-toggle [for]="miDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #miDatepicker></mat-datepicker>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='create()'>{{tituloBoton}}</button>
        </div>
      </div>
    </form>

  </div>
</div>
